<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
    <title>Login</title>
</head>

<body>
    <header>
        <div class="principal">
            <img src="./images/logo-mercado-liebre.svg" alt="Logo">
            <input type="text" class="barra-busqueda" placeholder="Buscar productos, marcas...">
            <button><i class="fas fa-search"></i></button>
        </div>
        <br>
        <p class="compra_sint"><i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjeta de crédito</p>
        <br>
        <nav>
            <div>
                <ul class="list1">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul class="list2">
                    <li><a href="/register.html">Crea tu cuenta </a><i class="far fa-id-card"></i></li>
                    <li><a href="/login.html">Ingresá </a><i class="fas fa-sign-in-alt"></i></li>
                    <li><a href="#">Mis compras </a><i class="fas fa-shopping-basket"></i></li>
                </ul>
            </div>
        </nav>

        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>

    <main class="main-login">
        <form>
            <div>
                <input type="text" placeholder="Nombre de usuario">
            </div>
            <br>
            <br>
            <div>
                <input type="password" placeholder="Introduce la contraseña">
            </div>
            <br>
            <br>
            <button type="submit">Enviar</button>
        </form>
    </main>

    <footer>
        <div>
            <i class="fas fa-credit-card"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es
                seguro!</p>
               </div> 
               <div>
            <i class="fas fa-gift"></i>
            <h3>Envío gratis desde los $ 2.500</h3>
            <p>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de
                Mercado Puntos.</p>
            </div>
            <div>
            <i class="fas fa-user-shield"></i>
            <h3>Seguridad de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estás siempre protegid@</p>
        </div>  
    </footer>
    <br>
    <br>
    <p>Copyright c 1999-2020 MercadoLiebre S.R.L.</p>
</body>

</html>