<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
    <title>Registro</title>
</head>

<body>
    <header>
        <div class="principal">
            <img src="./images/logo-mercado-liebre.svg" alt="Logo">
            <form action="" class="busqueda">
                <input type="text" class="barra-busqueda" placeholder="Buscar productos, marcas...">
                <button><i class="fas fa-search"></i></button>
            </form>
        </div>
        <br>
        <p class="compra_sint"><i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjeta de crédito</p>
        <br>
        <nav>
            <div>
                <ul class="list1">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul class="list2">
                    <li><a href="/register.html">Crea tu cuenta </a><i class="far fa-id-card"></i></li>
                    <li><a href="/login.html">Ingresá </a><i class="fas fa-sign-in-alt"></i></li>
                    <li><a href="#">Mis compras </a><i class="fas fa-shopping-basket"></i></li>
                </ul>
            </div>
        </nav>

        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>

    <main class="main-register">
        <form action="" method="POST">
            <div>
                <input type="text" placeholder="Nombre y Apellido" name="nombre-apellido" id="nombre-apellido" required>
            </div>
            <br>
            <br>
            <div>
                <input type="text" placeholder="Nombre de usuario" name="nombre-user" id="user" required minlength="6">
            </div>
            <br>
            <br>
            <div>
                <label for="fecha-nacimiento">Fecha de nacimiento:</label>
                <br>
                <br>
                <input type="date" name="fecha-nacimiento" id="fecha-nacimiento" required>
            </div>
            <br>
            <br>
            <div>
                <input type="text" placeholder="Domicilio" name="direccion-domicilio" id="domicilio">
            </div>
            <br>
            <br>
            <div class="perfil-usuario">
                <label for="perfil">Perfil de usuario:</label>
                <input type="radio" name="perfil" id="perfil" required>Comprador
                <input type="radio" name="perfil" id="perfil" required>Vendedor
            </div>
            <br>
            <br>
            <div class="intereses">
                <label for="categoria-intereses">Intereses:</label>
                <br>
                <br>
                <input type="checkbox" name="intereses" value="electro" id="categoria-intereses">Electro
                <input type="checkbox" name="intereses" value="moda" id="categoria-intereses">Moda
                <input type="checkbox" name="intereses" value="hogar" id="categoria-intereses">Hogar
                <input type="checkbox" name="intereses" value="juguetería" id="categoria-intereses">Juguetería
                <input type="checkbox" name="intereses" value="vida sana" id="categoria-intereses">Vida sana
            </div>
            <br>
            <br>
            <div>
                <label for="foto-usuario">Foto de usuario: </label>
                <br>
                <br>
                <input type="file" name="foto-usuario" id="foto-usuario" accept=".jpg .png" multiple>
            </div>
            <br>
            <br>
            <div>
                <input type="password" placeholder="Contraseña" name="pass" id="pass" required>
            </div>
            <br>
            <br>
            <div>
                <input type="password" placeholder="Confirmar contraseña" name="pass" id="pass-conf" required>
            </div>
            <br>
            <br>
            <div>
                <button type="submit">Enviar</button>
                <button type="reset">Borrar todos los campos</button>
            </div>
        </form>
    </main>

    <footer>
        <div>
            <i class="fas fa-credit-card"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es
                seguro!</p>
        </div>
        <div>
            <i class="fas fa-gift"></i>
            <h3>Envío gratis desde los $ 2.500</h3>
            <p>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de
                Mercado Puntos.</p>
        </div>
        <div>
            <i class="fas fa-user-shield"></i>
            <h3>Seguridad de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estás siempre protegid@
            </p>
        </div>
    </footer>
    <br>
    <br>
    <p>Copyright c 1999-2020 MercadoLiebre S.R.L.</p>
</body>

</html>