*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}


header{
    background-color: #EAC926;
    padding: 10px;
}

header .principal{
    display: inlines;
}

header div img{
    width: 50vw;
}

header div .busqueda{
    width: 45%;
    display: flex;
    justify-content: center;
} 

header div .busqueda .barra-busqueda{
    width: 85%;
    height: 20%;
    border: none;
    border-radius: 3%;
}

header div .busqueda button{
    width: 5%;
    height: 20%;
    border: none;
    border-radius: 2%;
    background-color: white;
}

header div .busqueda button i{
    color: gray;
}

header nav div ul{
    padding: 0;
}

header nav div ul li i{
    color: black;
}

main{
    background: gainsboro;
    width: 90vw;
    text-align: center;
    line-height: 10px;
    margin: auto;  
    padding-bottom: 10px;  
}

.buscador{
    background-color: white;
}

.compra_sint{
    text-align: center;
}

li{
    list-style-type: none;
    text-align: left;
}

a{ 
    text-decoration:none;
    color: black;
}

.burger-menu{
    width: 30px;
    height: 30px;
    text-align: center;
    padding:6px;
    background: blue;
    margin: auto;
    border-radius: 5px;
}

div i{
    color: white;
    font-size: 20px;
}

h1{
    font-size: 24px;
}

.banner{
    width: 100%;
}

.banner img{
    width: 100vw;
}

main div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: auto;
}

main div section .products{
    border: 1px solid #ebebeb;
    padding: 15px; 
    margin: auto;
}

main div section .products article{
    background: white; 
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: left;
}

main div section .products article i{
    display: block;
    color: green;
    font-size: 16px;
    border: 1px #39b54a solid;
    width: 30px;
    height: 30px;
    padding: 5px;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 50px;
}

img{
    max-width: 80vw;
}

.precios{
    font-size: 18px;
    width: 30vw;
}

.descuentos{
    font-size: 16px;
    width: 70vw;
    color: #39b54a;
}

.descripcion{
    font-size: 16px;
    display: none;
}

footer{
    text-align: center;
    color: #666;
    padding-top: 10px;
}

footer div i{
    color: blue;
    font-size: 2em;
    line-height: 10px;
    margin-bottom: 10px;
}

/* estilos para el login */

.main-login{
    padding-top: 10px;
    width: 100vw;
}

/* estilos para el register */

.main-register{
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
    width: 100vw;
}

.main-register div label{
    font-weight: bold;
    font-size: 15px;
}

.main-register div button{
    padding: 5px;
    background-color: blue;
    border: 1px solid blue;
    color: white;
    border-radius: 5%;
}

@media (max-width: 480px){
    header div{
        display: flex;
        flex-wrap:wrap;
    }

    header div .busqueda .barra-busqueda{
        width: 85%;
        height: 30%;
    }

    header div .busqueda button{
        width: 10%;
        height: 30%;
    }

    header div .busqueda button i{
        width: 1px;
        height: 10px;
    }

    nav{
        display: none;
    }

    main section .products .descripcion{
        display: none;
    }


    /* estilos para el login */
    .main-login form div input{
        width: 60%;
        height: 35px;
        border: 1px solid white;
        border-radius: 5%;
    }

    .main-login form button{
        width: 60%;
        height: 35px;
        background-color: blue;
        border: 1px solid blue;
        color: white;
        border-radius: 5%;
    }
}

    /* estilos para el register */
    .main-register .perfil-usuario{
        display: flex;
        justify-content:center;
    }

    .main-register .intereses input{
        display: flex;
        justify-content: center;
    }

@media (min-width: 481px){
    header nav div{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    header div button{
        width: 10%;
        height: 20%;
    }

    header nav div ul{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .burger-menu{
        display: none;
    }
    
    main div section{
        flex-direction: row;
        justify-content: space-around;
        align-items: stretch;
        flex-wrap: wrap;
    }

    main div section .products article{
        margin: auto;
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
    }

    /* estilos para el login */
    .main-login form div input{
        width: 70%;
        height: 35px;
        border: 1px solid white;
        border-radius: 5%;
    }

    .main-login form button{
        width: 70%;
        height: 35px;
        background-color: blue;
        border: 1px solid blue;
        color: white;
        border-radius: 3%;
    }
}

/* estilos para el register */
.main-register .perfil-usuario{
    display: flex;
    justify-content: center;
}

@media (min-width: 769px){
    header div{
        display: flex;
    }

    header nav div .list1{
        align-content: flex-start;
        padding-left: 10px;
    }

    header nav div .list2{
        align-content: flex-end;
        padding-right: 10px;
    }

    .burger-menu{
        display: none;
    }
    main div section .products article{
        display: flex;
        flex-wrap: wrap;
    }

    main div section .products article:hover{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    main div section .products article:hover .descripcion{
        display: block;
    } 

    main div section .products article i:hover{
        transform: rotate(-90deg);
        transition: 500ms;
    }

    footer {
        display: flex;
        justify-content: space-around;
    }

    footer i:hover{
        color: #EAC926;
    }

    /* estilos para el login */
    .main-login form div input{
        width: 70%;
        height: 35px;
        border: 1px solid white;
        border-radius: 5%;
    }

    .main-login form button{
        width: 40%;
        height: 35px;
        background-color: gray;
        border: 1px solid gray;
        color: white;
        border-radius: 3%;
    }

    .main-login form button:hover{
        background: #0022AA;
    }

    footer{
        display: flex;
        justify-content: space-around;
    }
}